<html>

<head>
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Chat</title>
</head>

<body>
  <div class="font-sans antialiased bg-gray-900 text-gray-100 w-full h-1">
    <div class="flex justify-end text-2xl">
      <a class="underline mr-2" href="/logout">Logout</a> |
    </div>
  </div>

  <div hx-ext="ws" ws-connect="/chat_ws" class="bg-gray-900 h-screen flex items-center justify-center">
    <div class="bg-gray-700 flex flex-col w-5/6 lg:max-w-7xl h-5/6 shadow-lg rounded-lg">
      <div class="p-4 border-b border-gray-200 h-16">
        <h2 class="text-lg text-gray-100 font-semibold">Chat</h2>
      </div>
      <div id="chat-messages" class="p-4 space-y-4 overflow-y-auto flex-grow">

      </div>
      <div class="p-4 h-20 border-t border-gray-200">
        <form id="chatForm" ws-send>
          <input type="text" id="msg" name="msg" class="w-full p-2 border border-gray-300 rounded-lg"
            placeholder="Type your message...">
        </form>
      </div>
    </div>
  </div>
</body>

<script>
  // 只发送msg, 不发json
  document.getElementById('chatForm').addEventListener('htmx:wsConfigSend', function (event) {
    let msg = document.getElementById("msg").value;
    event.detail.messageBody = msg;
  });

  document.getElementById('chatForm').addEventListener('htmx:wsAfterSend', function (event) {
    // 确保发送成功并且是来自ws-send触发的
    if (!event.detail.xhr || event.detail.triggerName === 'ws-send') {
      // 清空输入框
      document.getElementById('msg').value = '';
    }
  });

  // 滚动条到最下
  document.body.addEventListener("htmx:oobAfterSwap", function (evt) {
    const chatWrapper = document.querySelector("#chat-messages");
    chatWrapper.scrollTop = chatWrapper.scrollHeight;
  });

</script>

</html>
